.Navbar {
    padding: 15px;
    font-size: x-large;
    background-color: #373737;
    color: white;
}

.Navbar_container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.Navbar_container > * {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar_icon_container {
    gap: 15px;
}

.Navbar_button {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.Navbar_searchbar{
    width: 300px;
    border-radius: 5px;
    border: none;
    text-align:center;
}
