<div class="Navbar">
    <div class="Navbar_container">
        <div class="Navbar_icon_container">
            <div>
                <fa-icon [icon]="sidebarLogo"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="pagesLogo"></fa-icon>
            </div>

            <select name="zoom" id="zoom">
                <option value="50">50%</option>
                <option value="75">75%</option>
                <option value="100">100%</option>
                <option value="150">150%</option>
            </select>
        </div>
        <div>
            <input class="Navbar_searchbar" type="text" placeholder="Search.." name="search" />
        </div>
        <div class="Navbar_icon_container">
            <div class="Navbar_button">
                <fa-icon [icon]="viewLogo"></fa-icon>
                <div>View</div>
            </div>
            <div class="Navbar_button">
                <fa-icon [icon]="editLogo"></fa-icon>
                <div>Edit</div>
            </div>
        </div>
    </div>
</div>
<app-tabbar></app-tabbar>
